html,
body {
  padding: 0;
  margin: auto;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

div {
  color: black;
  text-decoration: none;
}


